package com.sitech.paas.javagen.demo;

import java.util.concurrent.*;
#foreach($imp in $importSet)
import $imp;
#end


/**
 * 使用future来提交任务，设置任务超时时间
 * @author liwei_paas
 * @date 2020/3/3
 */
public class Main {

    static ExecutorService executorService = Executors.newSingleThreadExecutor();

    public static void main(String[] args)  {
        try{
        #foreach($e in $expressList)
        #if($e.type==1)
            final $e.vartype $e.varname = submitTask(()->{$e.code});
        #end
        #if($e.type==0)
            final $e.vartype $e.varname = submitTask(()->$e.code);
        #end
        #end
        #foreach($o in $outList)
            System.out.println("result is :" + $o);
        #end
        }catch (Exception e){
            e.printStackTrace();
        }finally {
            executorService.shutdown();
        }

    }

    public static <T> T submitTask(Callable<T> task) throws TimeoutException{
        return submitTask(task,Integer.MAX_VALUE);
    }

    public static <T> T submitTask(Callable<T> task,int timeout) throws TimeoutException{
        Future<T> future = executorService.submit(task);
        try {
            return future.get(timeout,TimeUnit.MICROSECONDS);
        } catch (InterruptedException |ExecutionException  e) {
            throw new RuntimeException(e);
        }
    }
}
