<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>

		<property name="connection.useUnicode">true</property>
		<property name="connection.characterEncoding">UTF-8</property>
		<property name="jdbc.fetch_size">30</property>
		<property name="jdbc.batch_size">30</property>
		<property name="query.factory_class">org.hibernate.hql.ast.ASTQueryTranslatorFactory</property>

		<property name="connection.url"></property>
		<property name="connection.username"></property>
		<property name="connection.password"></property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
	   	<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <mapping resource="com/sitech/esb/hb/AppSrv.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/AppInfo.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/SrvInfo.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/SrvStatus.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/SrvCommProtl.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/CommProtl.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/SysConfig.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/UddiServer.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/EsbServer.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/SrvInput.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/SrvOutput.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/SrvRelation.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/SrvType.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/SiTxdoRouteType.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/Userinfo.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/Role.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/Sysright.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/SrvCateg.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/SrvDimension.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/SrvAccesory.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/UserSrvDimLevel.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/ClientInfo.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/ClientAddr.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/AppStatus.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/AppFunCateg.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/ClientAppRight.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/SrvCurrentLimit.hbm.xml" />

		<mapping resource="com/sitech/esb/hb/SrvErrinfo.hbm.xml" />

		<mapping resource="com/sitech/esb/hb/TxdoRemoteAp.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/TxdoSystem.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/TxdoWTCRoute.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/TxdoWTCOperation.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/TxdoWdom.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/ReportSql.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/SoaphttpSystem.hbm.xml" />
		
		<mapping resource="com/sitech/esb/hb/LogicRoute.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/EventSrv.hbm.xml" />

		<mapping resource="com/sitech/esb/hb/Event.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/EventGen.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/Topic.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/EventTopic.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/TopicStatus.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/TopicSubscribe.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/SrvEvent.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/SubscribeStatus.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/EventIns.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/TopicIns.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/TopicSubscribeIns.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/NotifyStatus.hbm.xml" />

		<mapping resource="com/sitech/esb/hb/SoapClass.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/SoapClzMethod.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/JsClass.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/JsClassMember.hbm.xml" />

		<mapping resource="com/sitech/esb/hb/EventProducer.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/EventConsumer.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/UserIp.hbm.xml" />
		<mapping
			resource="com/sitech/esb/hb/EventSelfProcessStatus.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/EjbRefClass.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/EsbcltUploadDir.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/EsbsrvMvRupload.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/EsbsrvUploadDir.hbm.xml" />
		<mapping
			resource="com/sitech/esb/hb/MovetoLocalDownlad.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/EsbsrvDownloadDir.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/EsbcltDownloadDir.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/FtpServer.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/EsbcltMvRupload.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/SrvinfoHis.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/OpHis.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/Esbdual.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/SrvOutputHis.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/SrvInputHis.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/SrvCategRel.hbm.xml" />
		
		<mapping resource="com/sitech/esb/hb/SrvTimeoutCfg.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/ExcelStyle.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/SrvSchemaFile.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/SrvWsdlFile.hbm.xml" />
        <mapping resource="com/sitech/esb/hb/Openabilityoprate.hbm.xml" />
        <mapping resource="com/sitech/esb/hb/EventConsumerLog.hbm.xml" />
        <mapping resource="com/sitech/esb/hb/OpRecord.hbm.xml" />
        <mapping resource="com/sitech/esb/hb/SoaphttpSystemAppend.hbm.xml" />
		 <!-- add by liuz -->
        <mapping resource="com/sitech/esb/hb/SrvCallLimit.hbm.xml" />
        <mapping resource="com/sitech/esb/hb/PoolInfo.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/PoolSrv.hbm.xml" />
		<mapping resource="com/sitech/esb/hb/EsbcltMvLdownload.hbm.xml" />

	</session-factory>

</hibernate-configuration>